* {
    box-sizing: border-box;
    list-style: none;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Sora, sans-serif;
    font-size: 1.6rem;
}

/* Common */
.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.section-item-desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    text-decoration: none;
}

/* Header */
.header {
    padding: 30px 0 110px;
    min-height: 100vh;
    background: var(--header-bg);
}

/* Logo */
.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 1.8rem;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link--active,
.navbar__item:hover {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    left: -8px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

.header-action__login {
    margin-right: 7px;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    margin-top: 60px;
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__row {
    margin-top: 38px;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    object-fit: cover;
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__img:first-child {
    margin-right: -6px;
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}
.service__list {
    margin-bottom: 55px;
}

/* Service item */
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

/* How it works */
.work {
    background: #f6fbff;
    padding: 100px 0;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}

.work__item {
    padding: 43px 42px;
    background: #fff;
    width: 338px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s;
}

.work__item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work__more {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work__more:hover {
    color: #2e80ce;
}

/* Features */
.feature {
    padding: 170px 0;
}

.feature-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__content {
    width: 40.2%;
}

.feature__images {
    width: 48.7%;
    display: flex;
}

.feature__image {
    border-radius: 6px;
    width: 512px;
    height: 370px;
    object-fit: cover;
}

.feature__image:first-child {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.feature__image:last-child {
    width: 332px;
    margin-top: 121px;
    margin-left: -274px;
}

.feature .btn {
    margin-top: 38px;
}

/* Members */

.member .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.member .btn {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.member__item {
    width: 270px;
}

.member__item:last-child {
    width: 253px;
}

.member__image {
    background: #eaf6ff;
    border-radius: 6px;
    object-fit: cover;
    height: 290px;
}

.member__image:first-child {
    width: 262px;
    padding: 28px 4px 0;
}

.member__image:nth-child(2) {
    width: 270px;
    padding-top: 28px;
}

.member__image:nth-child(3) {
    width: 292px;
    height: 305px;
    padding: 25px -11px -12px;
}

.member__image:last-child {
    width: 253px;
    height: 290px;
    padding: 28px 9px 0 8px;
}

.member__item-heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.member__desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.chevron {
    display: flex;
}

.member .chevron {
    margin-top: 38px;
}

.chevron__left,
.chevron__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.chevron__left:hover,
.chevron__right:hover {
    cursor: pointer;
}

.chevron__left {
    margin-right: 9px;
    border: 1px solid #575f66;
}

.chevron__right {
    border: 1px solid #2e80ce;
    background: #2e80ce;
    margin-left: 9px;
}

/* Install */
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__img {
    background: none;
    display: block;
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* News */
.news {
    margin-top: 170px;
}

.news .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.news__list {
    display: flex;
}

.news__item {
    row-gap: 30px;
    width: 270px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
}

.news__item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news__item:first-child {
    margin-right: 30px;
}

.news__item-content {
    padding: 18px 22px 21px;
}

.news__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.625;
}

.news__desc {
    margin: 10px 0 12px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.714;
}

.news__more {
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 400;
}

.news__more:hover {
    color: #2e80ce;
}

.news__image {
    width: 270px;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

/* Appointment */
.appointment {
    margin-top: 170px;
}

.appointment__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 179px;
    background: #f6fbff;
}

.appointment__inner .section-desc {
    width: 85%;
    text-align: center;
}

.appointment .btn {
    margin-top: 38px;
}

/* Footer */
.footer {
    padding-top: 100px;
    background: #10375c;
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #fff;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__link {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__social {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #2e80ce;
    background: #fff;
    transition: 0.25s;
}

.footer__social-btn:hover {
    color: #fff;
    background: #2e80ce;
}

.footer-form {
    display: flex;
    column-gap: 12px;
    margin-top: 10px;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #406181;
    border-radius: 4px;
    color: #fff;
    background: transparent;
}

.footer-form__input::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
}

.footer-form__submit {
    --height: 46px;
    min-width: 108px;
    border-radius: 4px;
    font-size: 1.4rem;
}

.footer__copyright {
    padding: 28px 0 42px;
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #aab3ba;
}
